body {
  font-family: Lucida;
  font-size:16px;
  background: #F8F0E3;
  text-align: center;
}

.headers {
  color: Teal;
  font-family:Times;
  justify-content:center;
}

.footer {
  background-color: teal;
  margin:-20px;
  padding: 20px;
  justify-content:center;
  color:white;
}

#top {
  padding:20px;
  margin:-10px;
  background-color: teal;
  color: white;
}

li{
  display:inline-block;
  justify-content:center;
  list-style:none;
  padding:15px;
  background-color:Teal;
}

ul{
  list-style: none;
  padding:0;
}

.navbar{
  position:sticky;
  top:0;
  padding:0px;
  margin:-10px;
  background-color:Teal;
}

a{
  text-decoration:none;
  color:white;
}

li:hover{
  background-color:#006969;
}

.box{
  max-width: 90%;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

.maincontent{
    margin-top: 40px;
  justify-content:center;
}

article{
  color: black;
  text-align: center;
  justify-content: center;
  display: flex grid;
}
