/*body*/

body {
  font-family: Lucida;
  font-size: 16px;
  background: #f8f0e3;
  text-align: center;
  line-height: 1.5;
  transition: background-color 0.5s, color 0.5s;
}

.headers {
  color: Teal;
  font-family: Times;
  justify-content: center;
}

.footer {
  background-color: teal;
  margin: -20px;
  padding: 20px;
  justify-content: center;
  color: white;
}

#top {
  padding-top: 20px;
  margin: -10px;
  background-color: teal;
  color: white;
}

.maincontent {
  margin-top: 40px;
  justify-content: center;
}
/*Nav bar*/

.navbar {
  position: sticky;
  top: 0;
  padding: 1px;
  margin: -10px;
  background-color: Teal;
  box-shadow: 0px 4px 7px #006969;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  display: inline-block;
  justify-content: center;
  list-style: none;
  padding: 15px;
  background-color: Teal;
}
li:hover {
  background-color: #006969;
}

/*articles*/

a {
  text-decoration: none;
  color: white;
}
p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.linkedin {
  color: teal;
}

/*boxes*/

.box {
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

/*night mode*/
.night-mode {
  background-color: #121212;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}
.night-mode .box {
  background-color: #1e1e1e;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}
.night-mode .box p {
  color: white;
  transition: background-color 0.5s, color 0.5s;
}
.night-mode #top {
  background-color: teal;
  color: white;
}
.night-mode .faq-answer {
  color: white;
  display: none;
}
#toggle-mode {
  padding: 10px 20px;
  background-color: Teal;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

#toggle-mode:hover {
  background-color: #006969;
}

article {
  color: Black;
  text-align: center;
  justify-content: center;
  float: left;
  width: 25%;
  gap: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

section:after {
  content: "";
  display: grid;
  clear: both;
}

/*FAQ section*/
.faq-question {
  padding: 15px;
  margin-top: 10px;
  background: Teal;
  color: white;
  border-radius: 14px;
  cursor: pointer;
  font-family: Lucida;
  font-size: 15px;
  width: 35%;
  display: block;
  text-align: center;
  margin: 10px auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.faq-answer {
  color: Black;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.faq-answer.show {
  display: block;
}
